
html,
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    color: seashell;
}

.container{
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
}
header{
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-list li{
    padding-right: 25px;    
    display: inline-flex;
    list-style: none;
}

.nav-list a{
    color: seashell;
    text-decoration: none;
}

.mission{
    opacity: 1;
    margin-top: -33px;
    height: 700px;
    width: auto;
    background-image: url(../images/img-mission-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;  
}

.mission img{
    display: block;
    margin: auto;
}

.mission-text{
    text-align: center;
    top: 14.375rem;
    position: relative;
    background-color: black;
}

.logo{
    opacity: .8;
    margin-left: .45rem;
}

.tea-month img{
    width: 300px;
    height: 200px;
}
.tea-month{
    align-content: center;
}

.tea-text{
    text-align: center;
}

.tea-container{
    justify-content: space-evenly;
    display: flex;
}